@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --ui-header-height: --spacing(0);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  body {
    line-height: 1;
    font-family: var(--font-sans);
    background-color: var(--ui-bg);
    color: var(--ui-text);
  }
}
